@import "../../assets/variables";

.collections {
  &-collection {
    margin-bottom: 20px;
    border: 1px solid #ccc;
    padding: 10px;

    &-title {
      margin-left: 10px;
      font-size: 1.5rem;
      margin-bottom: 5px;
    }

    &__item {
      display: flex;
      align-items: center;
      margin-bottom: 5px;

      &-link {
        margin-right: 10px;
        color: $primary;
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }

      &-favicon {
        max-width: 16px;
        max-height: 16px;
        margin-left: 5px;
      }
    }
  }

  &-buttons {
    margin-top: 10px;
    background-color: $primary;
    color: $white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
  }
}

.collections-banner {
  color: $primary;
  padding: 1.5rem;
  text-align: center;

  &-content {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &-image {
    margin-right: 1.5rem;

    img {
      max-width: 100%;
      height: auto;
    }
  }

  &-text {
    flex: 1;
  }

  &-title {
    font-size: 2rem;
    margin-bottom: 1rem;
  }

  &-description {
    font-size: 1.25rem;
    margin-bottom: 1.5rem;
  }

  &-button {
    padding: 0.5rem 1rem;
    background-color: $secondary;
    border: none;
    border-radius: 4px;
    cursor: pointer;

    &:hover {
      background-color: $tetiary;
    }
  }
}