@import "../../assets/variables";

.list {
  display: flex;
  flex-wrap: wrap;

  &__draggable {
    flex-basis: 100%;
    margin: 10px 0;
    padding: 10px;
    border: 1px solid $gray;
    cursor: move;
  }

  &__item {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    box-sizing: border-box;
    padding: 10px;
    border: 1px solid $gray;
    margin: 5px;

    &-icon {
      flex-basis: 100%;
      text-align: center;
      margin-bottom: 5px;
    }

    &-favicon {
      max-width: 16px;
      max-height: 16px;
    }

    &-buttons {
      display: flex;
      flex-basis: 100%;
      justify-content: space-between;
      margin-top: 5px;

      & > * {
        flex: 1;
        margin: 0 2px;
      }
    }

    &-link {
      flex-basis: 100%;
      margin-top: 5px;
      color: #333;
    }
  }
}
